$orange: #ea5a4b;
$bitter: 'Bitter';

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $orange;
  z-index: 10;
}
.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}


.social {
  padding-right: 5%;
  a {
    text-decoration: none;
    padding-right: 15px;
  }
}

//navbar///////////////////////////////

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-collapse {
  position: absolute;
  top: 60px;
  z-index: 3;
  background-color: white;
  opacity: 0.8;
  width: 100%;
  left: 0;
  text-transform: uppercase;
  padding-left: 20px;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $orange;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

////////////////////////////////fotorama
.block_fotorama {
  position: relative;
  .text_left {
    position: absolute;
    top: 30%;
    z-index: 5;
    padding-left: 40px;
    h2 {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      font-family: $bitter;
      font-weight: bold;
      font-size: 40px;
    }
  }
  @media (max-width: 1200px) {
    .text_left {
      top: 30%;
      h2 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: 991px) {
    .text_left {
      top: 27%;
      h2 {
        font-size: 21px;
      }
    }
  }
  @media (max-width: 767px) {
    .text_left {
      top: 28%;
      h2 {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 575px) {
    .text_left {
      top: 28%;
      h2 {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 320px) {
    .text_left {
      top: 28%;
      h2 {
        font-size: 14px;
      }
    }
  }
}

.block_text-center {

  h2 {
    font-size: 18px;
    font-family: $bitter;
    color: rgb(37, 37, 37);
    line-height: 1.2;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    max-width: 265px;
    color: rgb(92, 92, 92);
    line-height: 1.143;
  }
  .impression_text {
    padding-top: 50px;
    font-size: 18px;
    font-family: $bitter;
    color: rgb(37, 36, 36);
    line-height: 1.2;
    text-align: center;
  }
  span:hover {
    background-color: $orange;
  }
}

.qwe {

  canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }

  img {
    position: absolute;
    cursor: pointer;
    justify-content: center;
  }

  #container {
    //position: absolute;
    width: 768px;
    height: 485px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

footer {
  background-image: url(../images/footer_container.png);
  background-size: cover;
  z-index: -1;
  top: -30px;
  position: relative;
  padding: 80px 50px;
  border-top: 8px solid #ea5a4b;
  color: #adadad;
  font-weight: bold;
  h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
  }
  .recent {
    p {
      border-bottom: 1px solid #3b3b3b;
      padding-bottom: 15px;
    }
  }
  .social_media {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 305px;
      padding-left: 0;
      li {
        padding-right: 8px;
        padding-bottom: 9px;
      }
    }
  }
}